/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.funkgrad {
  background-image: url('gold.png');
  background-color: $gold
  // background: linear-gradient(to right, $lightgold , $darkgold);
}

hr {
  border-top: 1px solid $gold !important;
}
