<%= render 'shared/navbar' %>

<br>
<br>

<div class= "container greyback" style="padding-bottom: 20px;text-align: center;">
<h2>80% of students in Grandes Ecoles meet their life partners in School</h2>
<h2>Project Delta optimizes your search for a soulmate</h2>
</div>

<br>

<div class="container" style="text-align: center;">
<br>
  <h3>Where do/did you go to School?</h3>
<br>
<br>
</div>

<div class= "container">
  <a href="" target="">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card-school" >
          <div class="card-school-image" style="background-image: url('<%= image_path 'essec.png' %>');">
          </div>
          <p> </p>
        </div>
    </div>
  </a>

  <a href="" target="">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card-school" >
          <div class="card-school-image" style="background-image: url('<%= image_path 'escp.png' %>');">
          </div>
          <p> </p>
        </div>
    </div>
  </a>

  <a href="" target="">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card-school" >
          <div class="card-school-image" style="background-image: url('<%= image_path 'hec.png' %>');">
          </div>
          <p> </p>
        </div>
    </div>
  </a>
</div>
