// Your footer style
// Your footer style
.footer {
  color: $gold;
  padding: 15px;
  margin-top: 30px;
  background-color: $grey;
}

.footer p {
  padding: 0px 0px 10px 0px;
  color: $gold
}

.icon-spacing {
  padding: 15px;
}

.copyright {
  float: center;
}
