<%= render 'shared/navbar' %>

<div class="funkgrad" style="text-align: center; padding-bottom: 20px;">
<br>
<h1>  <%= @school.upcase %> </h1>
</div>

<div class="container" style="text-align: center;">
<br>
<br>
<div class="fb-send" data-href="http://wittyleague.com">send</div><p>to your friends at <%= @school.upcase %></p>
<br>
<br>
<h4>Enter your email address to become a <strong>premium member</strong> and get notified when we launch</h4>
</div>

<div class="container newsletter" style="text-align: center;">
<%= render 'shared/newsletter' %>
</div>

