<%= render 'shared/navbar' %>

<div class="container" style="text-align: center;">
<br>
<h1>  <%= @school.upcase %> </h1>
</div>


<div class="container" style="text-align: center;">
<br>
<h4>Launching soon at <%= @school.upcase %></h4>
<br>
<h4>Enter your email address to become a <strong>premium member</strong> at launch</h4>
</div>

<div class="container newsletter" style="text-align: center;">
<%= render 'shared/newsletter' %>
<p>don't worry, we hate spam as much as you do</p>
</div>
